<div *ngIf="visible" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                    <div class="card-header">
                      <div *ngFor="let i of _MateriasDocentesServices.MateriasDocentesList">
                        <button class="btn btn-danger btn-block" (click)="Cambiamodal(i)">{{i.Dm}} {{i.Dca}} {{i.Dp}}</button>

                      </div>
                    </div>

            </div>
        </div>
    </div>
</div>



<div *ngIf="!visible" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
<!------------------------------------------------Cabecera de la tabla------------------------------------------------>
                    <div class="card-header" >
                      <div class="row">
                        <div class="col-sm-12">

                            <div class="row no-gutters">
                                <div class="title col-md-3">Imagen</div>
                              <h4 class="title  col-md-6  text-center">Unidad Educativa Particular Bilingue Ecomundo</h4>
                              <div class="title  col-md-3 text-center">REG 2.4.1-4b <br> Año Elecitvo 2017-2018</div>
                            </div>
                          <div class="row">
                                <h4 class="title col-md-12 text-center">Planificación Semanal</h4>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                               <p class="category">DOCENTE : <a class="contenido">{{nombre}}</a>

                                 <div class="form-group form-black label-floating is-empty">
                                     <label class="control-label">Título de unidad de planificación</label>
                                     <input type="text" #titulo="ngModel" name="titulo" [(ngModel)]="titulo_unidad" class="form-control cabecera" >
                                 </div>
                            </div>

                            <div class="col-md-3">
                                <p class="category">Asignatura : <a class="contenido">{{materia}}</a>

                            </div>

                              <div class="col-md-2">
                                  <p class="category">Paralelo : <a class="contenido">{{paralelo}}</a>
                              </div>
                              <div class="col-md-3">
                                    <p class="category">Curso : <a class="contenido">{{curso}}</a>

                              </div>
                          </div>
                        </div>
                    </div>
                    </div>
  <!--------------------------  <form #registerForm="ngForm" (ngSubmit)="onSubmiLeccionario()"  >----------------------Comienzo de la tabla ------------------------------------------------>

                    <div class="card-content table-responsive">
                      <div class="row">
                        <div class="col-md-3">
                          <p class="category">Fecha de Inicio:
                             <input class="form-control"  [ngModel]="fechain | date:'yyyy-MM-dd'" (ngModelChange)="fechain = $event" type="date" name="fechain">
                          </div>
                        <div class="col-md-3">
                          <p class="category">Fecha de término:
                            <input class="form-control"  [ngModel]="fechafin | date:'yyyy-MM-dd'" (ngModelChange)="fechafin = $event" type="date" name="fechafin">
                          </div>

                          <div class="col-6 col-sm-3">
                              <p class="category">Selecione la Unidad:
                                <select #Unidad [value]=-1>
                                <option *ngFor="let unidad of _MateriasDocentesServices.UnidadesList" [value]="unidad.cod_unidad">{{unidad.des_unidad}}</option>
                                </select>
                          </div>

                          <div class="col-sm-3">
                            <!-- Button trigger modal -->
                            <a class="btn btn-success"   (click)="insertaCabcera(Unidad.value)" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="material-icons">note_add</i> <span>Añadir</span></a>


                             </div>
                        </div>
<!---------------------------------------------------------------------------------->

                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                  <th>DEZTREZAS CON CRITERIOS DE DESEPEÑO</th>
                                    <th>ACTIVIDADES DE APRENDIZAJE</th>
                                    <th>RECRUSOS</th>
                                    <th>EVALUACIÓN</th>
                                    <th>TAREAS</th>

                                </tr>
                            </thead>

                            <tbody *ngIf="addtable">



                           <tr   *ngFor="let item of itemsPlan; let i=index ">

                                          <td>{{item.destreza}}</td>
                                          <td><strong>Anticipacion:</strong> {{item.anticipacion}}<br>
                                              <strong>Construcción:</strong> {{item.construcion}} <br>
                                              <strong>Consolidacion:</strong>{{item.consolidacion}}
                                          </td>
                                          <td>{{item.recursos}}</td>
                                          <td>{{item.evaluacion}}</td>
                                          <td>{{item.tareas}}</td>
                                          <td>
                                            <button class="btn-info"
                                                          (click)="Edit(item,i)"
                                                          data-toggle="modal" data-target=".bd-example-modal-lg">
                                                         <i class="fa fa-edit"></i>
                                                </button>
                                            <button class="btn-danger"
                                                         (click)="delete(i)">
                                                         <i class="fa fa-minus"></i>
                                              </button>
                                          </td>

                              </tr>


                            </tbody>
      <!----------------------</form>--------------------------Fin de la tabla ------------------------------------------------>
                </table>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Especificación de la necesidad educativa</label>
                                        <input type="text"  #necesidad="ngModel" name="necesidad" [(ngModel)]="necesidad_educativa" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Especificación de la adaptación aplicada</label>
                                        <input type="text"  #adaptacion="ngModel" name="adaptacion" [(ngModel)]="adaptacion_aplicada" class="form-control" >
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-md-4">
                                 <input type="submit" value="Guardar"   (click)="onSubmiLeccionario()" class="btn btn-success" >
                                  <!---<input type="button" value="Atras"   (click)="Atras()" class="btn btn-success" >--->

                                  <a class="btn btn-danger"  (click)="Atras()">
                                      <i class="material-icons">keyboard_backspace</i>
                                  </a>
                                </div>
                          </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Planificación Semanal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #registerForm="ngForm" (ngSubmit)="guardar(registerForm)">
      <div class="modal-body">
<!------------------------#employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)"------------------------------------------------------------------>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                     <label>DEZTREZAS CON CRITERIOS DE DESEPEÑO</label>
                      <div class="form-group form-black label-floating is-empty">

                          <textarea class="form-control" name="destreza" #destreza="ngModel"  [(ngModel)]="_PlanificacionServices.selectedPlanificacion.destreza" ></textarea>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                     <label>RECURSOS</label>
                      <div class="form-group form-black label-floating is-empty">

                          <textarea class="form-control" name="recursos"  #recursos="ngModel"  [(ngModel)]="_PlanificacionServices.selectedPlanificacion.recursos" ></textarea>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label>ACTIVIDADES DE APRENDIZAJE</label>
                      <div class="form-group form-black label-floating is-empty">
                          <label class="control-label">Anticipación</label>
                          <textarea class="form-control" #anticipacion="ngModel" name="anticipacion" [(ngModel)]="_PlanificacionServices.selectedPlanificacion.anticipacion" ></textarea>
                      </div>
                      <div class="form-group form-black label-floating is-empty">
                          <label class="control-label">Construcción</label>
                          <textarea class="form-control"   #construcion="ngModel" name="construcion" [(ngModel)]="_PlanificacionServices.selectedPlanificacion.construcion"></textarea>
                      </div>
                      <div class="form-group form-black label-floating is-empty">
                          <label class="control-label">Consolidación</label>
                          <textarea class="form-control"   #consolidacion="ngModel" name="consolidacion" [(ngModel)]="_PlanificacionServices.selectedPlanificacion.consolidacion"></textarea>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                     <label>EVALUACIÓN</label>
                      <div class="form-group form-black label-floating is-empty">

                          <textarea class="form-control"   #evaluacion="ngModel" name="evaluacion" [(ngModel)]="_PlanificacionServices.selectedPlanificacion.evaluacion"></textarea>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                     <label>TAREAS</label>
                      <div class="form-group form-black label-floating is-empty">

                          <textarea class="form-control"  #tareas="ngModel" name="tareas" [(ngModel)]="_PlanificacionServices.selectedPlanificacion.tareas"></textarea>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <!--------------------------footer-------------->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <button type="submit"  class="btn btn-success" (ngClik)="guardar()">Guardar</button>
      </div>

    </form>

    </div>
  </div>
</div>
